    <% if article.tags.include? 'books' %>

      <div class="card" name="article-oneliner" style="max-width: 40rem;">
      <% if article.data.img %>
        <% link_to article do %>
          <img class="card-img-top" data-src="<%= article.data.img %>" src="<%= article.data.img %>" style="width:100%; height:auto;" alt="Card image">
          <% end %>
        <% end %>
        <div class="card-block">
          <p class="card-title"><%= link_to article.title, article %></p>
        </div>
        <div class="card-footer">
          <% if article.data.isbn %>
            ISBN: <%= article.data.isbn %>
          <% end %>
        </div>
      </div>

    <% elsif article.tags.include? 'photo' %>

      <div class="card card-info" name="article-oneliner" style="max-width: 40rem;">
        <% if article.data.img %>
          <img class="card-img-top" data-src="<%= article.data.img %>" src="<%= article.data.img %>" style="width:100%; height:auto;" alt="Card image">
        <% end %>
        <div class="card-block">
          <p class="card-title"><%= article.title %></p>
          <p class="card-text"><%= article.body %></p>
        </div>
        <div class="card-footer">
          <span class="label label-pill label-info pull-right"><%= article.date.strftime('%Y') %></span>
          <span class="pull-right"><small><%= article.date.strftime('%b') %></small></span>
        </div>
      </div>

    <% elsif article.tags.include? 'events' %>

      <div class="card card-info" name="article-oneliner" style="max-width: 40rem;">
        <div class="card-block">
          <p class="card-title">Event: <%= link_to article.title, article %></p>
        </div>
        <div class="card-footer">
          <span class="label label-pill label-info pull-right"><%= article.date.strftime('%Y') %></span>
          <span class="pull-right"><small><%= article.date.strftime('%b') %></small></span>
        </div>
      </div>

    <% else %>

      <div class="card" name="article-oneliner" style="max-width: 40rem;">
        <div class="card-block">
          <p class="card-title"><%= link_to article.title, article %></p>
        </div>
        <div class="card-footer">
          <span class="label label-pill label-info pull-right"><%= article.date.strftime('%Y') %></span>
          <span class="pull-right"><small><%= article.date.strftime('%b') %></small></span>
        </div>
      </div>

    <% end %>
