<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>It's All In The Game<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <!-- Bootstrap 4 alpha CSS -->
    <!-- IMPORTANT: Don't use this .css file in production. Use Bootstrap 3 until Bootstrap 4.0.0 is released. -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>
 
    <%= partial "nav" %>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="container" id="main" role="main">
      <%= yield %>
    </div>
    
    <aside class="container">

      <h2>Recent Articles</h2>

      <div class="card-columns">
        <% blog.articles[0...10].each do |article| %>
          <div class="card" name="article-summary">
            <div class="card-block">
              <h4 class="card-title"><%= link_to article.title, article %> <span></span></h4>
              <p class="card-text"><%= article.summary %></p>
            </div>
            <div class="card-footer">
              <small><%= article.date.strftime('%b %e') %></small>
              <span class="label label-pill label-info pull-right"><%= article.date.strftime('%Y') %></span>
            </div>
          </div>
        <% end %>
      </div>

    </aside>

    <%= partial "footer" %>

    <!-- Bootstrap 4 Alpha JS -->
    <!-- IMPORTANT: Don't use this .js file in production. Use Bootstrap 3 until Bootstrap 4.0.0 is released. -->
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script> 
  </body>
</html>
